<IfModule mod_rewrite.c>
  RewriteEngine on  
  # Rewrite URLs of the form 'x' to the form 'index.php?q=x'.
  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
  
  Redirect 301 /becomeapro https://www.floma.in/become-pro
  Redirect 301 /becomeaseller https://www.floma.in/become-seller
  Redirect 301 /floma-pro https://www.floma.in/become-pro
  Redirect 301 /floma-seller https://www.floma.in/become-seller

</IfModule>
<IfModule mod_php5.c>
   php_value upload_max_filesize 128M
   php_value post_max_size 128M
</IfModule>
